.container{
  display: flex;
flex-direction: row;
justify-content: space-around;
}
.container .left{
  margin-top: 10px;
  width: 50%;
  height:80vh
}
.container .left img{
  max-width: 600px;
  height: 100%;
  margin-left: 200px;
}
.container .right{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}
.container .right button{
  margin-left: 100px;
  height: 50px;
  width: 126px;
  border-radius: 16px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 3px solid #006238;
  color:#006238;
}

.container .right h3{
  font-size: 64px;
  color: #006238;
  margin-bottom: 20px;
}

.container .right button:hover{
  background-color: #006238;
  color: whitesmoke;
  transition: .5s;
}
@media only screen and (max-width: 600px) {
  .container{
    display: flex;
  flex-direction: column;
  justify-content: center;
  }
  .container .right h3{
    font-size: 36px;
    align-items: center;
    margin-left: 356px;
    color: #006238;
    margin-bottom: 20px;
  }
  .container .right button{
    margin-left: 310px;
    height: 50px;
    width: 126px;
    border-radius: 16px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #006238;
    color:#006238;
  }
}